.centered {
    margin: 0 auto;
    width: 800px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.error {
    color: red;
}

table, th, td {
    border: 1px solid blue;
    padding: 8px;
}