:root {
	--color-dark: #2d3142;
	--color-light: #ffffff;
	--color-neutral: #bfc0c0;
	--color-main: #e63462;
	--color-accent: #f292ac;
	font-family: "Sansation", sans-serif;
}

#form-input label {
	margin: 5px;
	color: var(--color-light);
	text-decoration: underline;
}

#form-input input {
	margin: 5px;
	padding: 5px;
	border: none;
	border-radius: 2px;
	background-color: var(--color-light);
	color: var(--color-dark);
}

#submit-btn {
	margin: 5px;
	padding: 5px;
	border: none;
	border-radius: 2px;
	background-color: var(--color-main);
	color: var(--color-light);
	font-size: 20px;
	cursor: pointer;
}
