html, body {
    min-height: 100%;
    min-width: 100%;
}

.hidden {
    display: none;
    visibility: hidden;
}

.shown {
    display: inline;
    visibility: visible;
}

.item-output {
    display: flex;
    justify-content: space-evenly;
}

.centered {
    display: flex;
    justify-content: center;
}

h2 {
    color: grey;
    font-weight: lighter;
}

#form-input label {
    margin: 5px
}

p {
    font-size: 20px;
}